// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trip {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.trip p {
	margin: 4px 0;
}

.trip.hover { 
	background: #FAFAFA;
}

.trip .admin {
	display: none;
}
.trip.hover .admin {
	display:inline;
}